{
	"algorithm":"threshold",
	"output_file":"./data/output.csv",
	"log_file":"./data/run.log",
	"column_delimiter":";",
	"header":"true",
	"k":"20",
	"queries":[    
		{
			"name":"KeywordSimSearch",
			"operation":"categorical_topk",
			"input_file":"./data/input.csv",
			"max_lines":"-1",
			"set_column":"1",
			"tokens_column":"8",
			"column_delimiter":";",
			"token_delimiter":",",
			"header":"true",
			"search_keywords":"Computer+science,Electronics,Software,E-commerce",
			"similarity":"jaccard",
			"weight":"1.0"
		},
		{
			"name":"RevenueSimSearch"
			"operation":"numerical_topk",
			"input_file":"./data/input.csv",
			"max_lines":"-1",
			"column_delimiter":";",
			"header":"true",
			"key_column":"1",
			"value_column":"4",
			"search_value":"100000",
			"similarity":"exponential",
			"normalized":"z",
			"decay":"200",
			"weight":"1.0"
		},
		{
			"name":"EmployeesSimSearch"
			"operation":"numerical_topk",
			"input_file":"./data/input.csv",
			"max_lines":"-1",
			"column_delimiter":";",
			"header":"true",
			"key_column":"1",
			"value_column":"3",
			"search_value":"5",
			"similarity":"proportional",
			"normalized":"false",
			"weight":"1.0"
		}
	]
}
