{
	"k":"20",
	"queries":[    
				{
					"column":"keywords",
					"value":["Computer+science", "Electronics", "Software", "E-commerce"],
					"weights":["0.2","0.6","1.0"]
				},
				{
					"column":"revenue",
					"value":"100000",
					"filter": "[{\"range\":{\"employees\":{\"gte\":\"5\"}}}]",
					"weights":["0.3","0.5","0.7"]
				},
				{
					"column":"employees",
					"search_value":"5",
					"filter": "[{\"match\":{\"legalStatus\":\"Limited company\"}}]",
					"weights":["0.2","0.5","0.8"]
				},
				{
					"column":"location",
					"value":"POINT (10.404658 43.708845)",
					"weights":["0.4","0.7","0.9"]
				}
			]
}
