{
	"sources":[    
				{
					"name":"localPostGISdatabase",
					"type": "jdbc",
					"driver": "org.postgresql.Driver",
					"url": "jdbc:postgresql://localhost:5432/myDatabase",
					"username":"postgresName",
					"password":"postgresPassword",
					"encoding":"UTF-8"
				},
				{
					"name":"localPath1",
					"type":"csv",
					"directory":"./test/"
				},
				{
					"name":"remoteElasticSearchAPI",
					"type":"restapi",
					"url":"http://localhost:9200/myIndexName/_search?pretty"
					"username":"elasticName",
					"password":"elasticPassword"
				}
			],
	"search":[ 
				{
					"operation":"spatial_knn",
					"source":"localPath1",
					"dataset":"dataset1.csv",
					"header":"true",
					"search_column":"WKT"
				},
				{
					"operation":"numerical_topk",
					"source":"localPath1",
					"header":"true",
					"dataset":"dataset1.csv",
					"search_column":"postitive_sentiment"
				},
				{
					"operation":"numerical_topk",
					"source":"localPath1",
					"dataset":"dataset1.csv",
					"header":"true",
					"search_column":"negative_sentiment"
				},
				{
					"operation":"numerical_topk",
					"source":"remoteElasticSearchAPI",
					"dataset":"companies",
					"key_column":"id",
					"search_column":"employees"
				},
				{
					"operation":"categorical_topk",
					"source":"localPath1",
					"dataset":"dataset2.csv",
					"search_column":"persons"
				},
				{
					"operation":"numerical_topk",
					"source":"remoteElasticSearchAPI",
					"dataset":"companies",
					"key_column":"id",
					"search_column":"revenue"
				},
				{
					"operation":"spatial_knn",
					"source":"localPostGISdatabase",
					"dataset":"companies",
					"search_column":"location"
				}, 
				{
					"operation":"categorical_topk",
					"source":"localPostGISdatabase",
					"dataset":"companies",
					"search_column":"keywords"
				}
			]
}
